body
	padding-bottom: 190px
	background: #03060a
	direction: rtl
	text-align: right
	font-family: $assistant
	font-size: 16px
	letter-spacing: -.001em
	font-weight: 200
	line-height: 1.125
	color: $light
	+r(992)
		padding-bottom: 120px

main
	position: relative
	z-index: 2
	background-color: #03060a

.hide
	display: none

.link-to-index
	position: absolute
	top: 40px
	right: 35px
	width: 126px
	height: 126px
	&__img
		width: 100%
		height: 100%
	+r(1366)
		top: 30px
		right: 25px
		width: 100px
		height: 100px
	+r(1200)
		top: 20px
		right: 20px
		width: 80px
		height: 80px
	+r(992)
		top: 15px
		right: 15px
		width: 70px
		height: 70px
	+r(768)
		width: 60px
		height: 60px
