---
title: Index page | L-team
---
{% extends "layouts/_layout.html" %}

{% block content %}
	
	<!-- begin hero -->
	<section class="hero">
		
		<!-- begin hero-nav -->
		<nav class="hero-nav">
			<ul class="hero-nav-list">
				<li class="hero-nav-list-li is-active">
					<a href="#" class="hero-nav-list-li__link">על עצמי</a>
				</li>
				<li class="hero-nav-list-li">
					<a href="#" class="hero-nav-list-li__link">עבודות</a>
				</li>
				<li class="hero-nav-list-li">
					<a href="#" class="hero-nav-list-li__link">תחומי עיסוק</a>
				</li>
				<li class="hero-nav-list-li">
					<a href="#" class="hero-nav-list-li__link">צור קשר</a>
				</li>
			</ul>
		</nav>
		<!-- end hero-nav -->

		<div class="hero-logo">
			<img src="img/logo-big.png" alt="l-team" class="hero-logo__logo">			
			<h1 class="hide">l-team - nest company </h1>
		</div>

		<div class="hero-info">
			<div class="hero-info__big-year">2018</div>
			<div class="hero-info-content">
				<div class="hero-info-content__text">בניגוד לטענה הרווחת, Lorem Ipsum אינו סתם טקסט רנדומלי. יש לו שורשים וחלקים מתוך הספרות הלטינית הקלאסית מאז 45 לפני הספירה. מה שהופך אותו לעתיק מעל 2000 שנה. ריצ'רד מקלינטוק, פרופסור לטיני בקולג' של המפדן-סידני בורג'יניה, חיפש את אחת המילים המעורפלות ביותר בלטינית - consectetur - מתוך פסקאות</div>
				<div class="hero-info-content-years">
					<span class="hero-info-content-years__year">2018</span>
					<span class="hero-info-content-years__year">2017</span>
					<span class="hero-info-content-years__year">2016</span>
					<span class="hero-info-content-years__year">2015</span>
					<span class="hero-info-content-years__year">2014</span>
					<span class="hero-info-content-years__year">2013</span>
					<span class="hero-info-content-years__year">2012</span>
					<span class="hero-info-content-years__year">2011</span>
					<span class="hero-info-content-years__year">2010</span>
				</div>
			</div>
		</div>

		<ul class="icons icons_hero">
			<li class="icons__icon">
				{{mixins.icon('screen-icon-1')}}			
			</li>
			<li class="icons__icon">
				{{mixins.icon('screen-icon-2')}}			
			</li>
			<li class="icons__icon">
				{{mixins.icon('screen-icon-3')}}			
			</li>
			<li class="icons__icon">
				{{mixins.icon('screen-icon-4')}}			
			</li>
			<li class="icons__icon">
				{{mixins.icon('screen-icon-5')}}			
			</li>
		</ul>

	</section>
	<!-- end hero -->

	<!-- begin posts -->
	<div class="posts">
		
		<!-- begin posts-row -->
		<div class="posts-row">
		
			<!-- begin posts-row__column -->
			<div class="posts-row__column posts-row__column_36 post">
				<a href="#" class="post__link">אתרים ></a>
				<img src="img/index-gallery-1.jpg" alt="" class="post__img">
			</div>
			<!-- end posts-row__column -->

			<!-- begin posts-row__column -->
			<div class="posts-row__column posts-row__column_64">

				<!-- begin posts-row -->
				<div class="posts-row">
				
					<!-- begin posts-row__column -->
					<div class="posts-row__column posts-row__column_45 post">
						<a href="#" class="post__link">באנרים ></a>
						<img src="img/index-gallery-2.jpg" alt="" class="post__img">
					</div>
					<!-- end posts-row__column -->

					<!-- begin posts-row__column -->
					<div class="posts-row__column posts-row__column_55 post">
						<a href="#" class="post__link">פוסטים ></a>
						<img src="img/index-gallery-3.jpg" alt="" class="post__img">
					</div>
					<!-- end posts-row__column -->

				</div>
				<!-- end posts-row -->

				<!-- begin posts-row -->
				<div class="posts-row">
				
					<!-- begin posts-row__column -->
					<div class="posts-row__column posts-row__column_21 post">
						<a href="#" class="post__link">אפליקציות ></a>
						<img src="img/index-gallery-4.jpg" alt="" class="post__img">
					</div>
					<!-- end posts-row__column -->

					<!-- begin posts-row__column -->
					<div class="posts-row__column posts-row__column_78 post">
						<a href="#" class="post__link">דפי נחיטה ></a>
						<img src="img/index-gallery-5.jpg" alt="" class="post__img">
					</div>
					<!-- end posts-row__column -->

				</div>
				<!-- end posts-row__column -->

			</div>
			<!-- end posts-row -->

		</div>
		<!-- end posts-row -->

		<!-- begin posts-row -->
		<div class="posts-row">
		
			<!-- begin posts-row__column -->
			<div class="posts-row__column posts-row__column_44 post">
				<a href="#" class="post__link">פלאירים ></a>
				<img src="img/index-gallery-6.jpg" alt="" class="post__img">
			</div>
			<!-- end posts-row__column -->

			<!-- begin posts-row__column -->
			<div class="posts-row__column posts-row__column_23 post">
				<a href="#" class="post__link">אריזות ></a>
				<img src="img/index-gallery-7.jpg" alt="" class="post__img">
			</div>
			<!-- end posts-row__column -->

			<!-- begin posts-row__column -->
			<div class="posts-row__column posts-row__column_32 post">
				<a href="#" class="post__link">לוגוים ></a>
				<img src="img/index-gallery-8.jpg" alt="" class="post__img">
			</div>
			<!-- end posts-row__column -->

		</div>
		<!-- end posts-row -->

	</div>
	<!-- end posts -->

	<!-- begin screen-icons -->
	<div class="screen-icons">
		<ul class="icons icons_screen-icons">
			<li class="icons__icon">
				{{mixins.icon('screen-icon-1')}}			
			</li>
			<li class="icons__icon">
				{{mixins.icon('screen-icon-2')}}			
			</li>
			<li class="icons__icon">
				{{mixins.icon('screen-icon-3')}}			
			</li>
			<li class="icons__icon">
				{{mixins.icon('screen-icon-4')}}			
			</li>
			<li class="icons__icon">
				{{mixins.icon('screen-icon-5')}}			
			</li>
		</ul>

		<div class="screen-icons-text">
			<p>בניגוד לטענה הרווחת, Lorem Ipsum אינו סתם טקסט רנדומלי. יש לו שורשים וחלקים מתוך הספרות הלטינית הקלאסית מאז 45 לפני הספירה. מה שהופך אותו לעתיק מעל 2000 שנה. ריצ'רד מקלינטוק, פרופסור לטיני בקולג' של המפדן-סידני בורג'יניה, חיפש את אחת המילים המעורפלות ביותר בלטינית - consectetur - מתוך פסקאות</p>
		</div>
	</div>
	<!-- end screen-icons -->
	

	

{% endblock %}
