{% set 
	'gallery' = [
		{
			'title': 'מילקי',
			'text': 'בניגוד לטענה הרווחת, Lorem Ipsum אינו סתם טקסט רנדומלי. יש לו שורשים וחלקים מתוך הספרות הלטינית',
			'img': 'img/gallery-1.jpg'
		},
		{
			'title': 'חום דיאלוג',
			'text': 'בניגוד לטענה הרווחת, Lorem Ipsum אינו סתם טקסט רנדומלי. יש לו שורשים וחלקים מתוך הספרות הלטינית',
			'img': 'img/gallery-2.jpg'
		},
		{
			'title': 'ג’וב נט',
			'text': 'בניגוד לטענה הרווחת, Lorem Ipsum אינו סתם טקסט רנדומלי. יש לו שורשים וחלקים מתוך הספרות הלטינית',
			'img': 'img/gallery-3.jpg'
		},
		{
			'title': 'מכללת לוינסקי',
			'text': 'בניגוד לטענה הרווחת, Lorem Ipsum אינו סתם טקסט רנדומלי. יש לו שורשים וחלקים מתוך הספרות הלטינית',
			'img': 'img/gallery-4.jpg'
		},
		{
			'title': 'רזורשארק',
			'text': 'בניגוד לטענה הרווחת, Lorem Ipsum אינו סתם טקסט רנדומלי. יש לו שורשים וחלקים מתוך הספרות הלטינית',
			'img': 'img/gallery-5.jpg'
		},
		{
			'title': 'מרקיז',
			'text': 'בניגוד לטענה הרווחת, Lorem Ipsum אינו סתם טקסט רנדומלי. יש לו שורשים וחלקים מתוך הספרות הלטינית',
			'img': 'img/gallery-6.jpg'
		},
		{
			'title': 'דנונה',
			'text': 'בניגוד לטענה הרווחת, Lorem Ipsum אינו סתם טקסט רנדומלי. יש לו שורשים וחלקים מתוך הספרות הלטינית',
			'img': 'img/gallery-7.jpg'
		},
		{
			'title': 'אורבן ויו',
			'text': 'בניגוד לטענה הרווחת, Lorem Ipsum אינו סתם טקסט רנדומלי. יש לו שורשים וחלקים מתוך הספרות הלטינית',
			'img': 'img/gallery-8.jpg'
		},
		{
			'title': 'אורבן ויו',
			'text': 'בניגוד לטענה הרווחת, Lorem Ipsum אינו סתם טקסט רנדומלי. יש לו שורשים וחלקים מתוך הספרות הלטינית',
			'img': 'img/gallery-9.jpg'
		},
		{
			'title': 'דנונה',
			'text': 'בניגוד לטענה הרווחת, Lorem Ipsum אינו סתם טקסט רנדומלי. יש לו שורשים וחלקים מתוך הספרות הלטינית',
			'img': 'img/gallery-10.jpg'
		},
		{
			'title': 'דנונה',
			'text': 'בניגוד לטענה הרווחת, Lorem Ipsum אינו סתם טקסט רנדומלי. יש לו שורשים וחלקים מתוך הספרות הלטינית',
			'img': 'img/gallery-11.jpg'
		},
		{
			'title': 'טקטיקבול',
			'text': 'בניגוד לטענה הרווחת, Lorem Ipsum אינו סתם טקסט רנדומלי. יש לו שורשים וחלקים מתוך הספרות הלטינית',
			'img': 'img/gallery-12.jpg'
		}
	] 
%}